@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    color: black;
    background-color: rgba(159,144,125,255);
}

.copyright {
    color: black;
}

.footer {
    text-align: center;
    background-color: rgb(115, 209, 115);
    font-size: 1.3rem;
}

.contact {
    display: inline-block;
    margin: 1rem;
    margin-bottom: 1rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.wrapper i, a {
  margin-right: 1rem;
  text-decoration: none;
  color: var(--text);
}

.wrapper:hover {
    transform: translateY(-5px);
    color: white;
}

.wrapper:active {
    transform: translateY(5px);
}

li {
    display: inline-table;
    list-style: none;
}

.heading-solid-beige {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.text-solid {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.intro-image {
    background-image: url('../img/5529385-young-business-executive-in-suit-cheering-isolated-on-white.jpg');
    height: 95vh;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 79%, 0 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.intro-image__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    background-color: transparent;
}

.intro-text {
    text-align: center;
}

.intro-image__text .btn {
    font-size: 3.5rem;
    color: rgb(47, 40, 40);
    display: inline-block;
    text-decoration: none;
    margin-top: 5rem;
    padding: 1rem;
    transition: all 0.3s;
    background-color: rgba(238, 238, 194, 0.459);
}

.heading-solid-green {
    font-size: 5rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    color: white;
}

.packaging-image {
    background-image: url('../img/istockphoto-1059113338-612x612.jpg');
    height: 95vh;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(171,158,142,255);
}

.packaging-text {
    text-align: center;
}


.packaging-image__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    background-color: transparent;
}



.packaging-image__text .btn {
    font-size: 3.5rem;
    color: greenyellow;
    display: inline-block;
    text-decoration: none;
    margin-top: 5rem;
    padding: 1rem;
    transition: all 0.3s;
    background-color: rgba(238, 238, 194, 0.459);
}

.tutorials-image {
    background-image: url('../img/1.webp');
    height: 95vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tutorials-image__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    background-color: transparent;
}

.tutorials-image__text .btn {
    font-size: 3.5rem;
    color: rgb(206, 206, 53);
    display: inline-block;
    text-decoration: none;
    margin-top: 5rem;
    padding: 1rem;
    transition: all 0.3s;
    background-color: rgba(58, 158, 58, 0.555);
}

.btn:hover {
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    transform: translateY(-5px);
}

.btn:active {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    transform: translateY(5px);
}